@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f2937;
  --color-secondary: #2563eb;
  --color-accent: #f59e0b;
}

body {
  @apply font-body bg-blackPremium text-offWhite;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply text-offWhite hover:text-goldChampagne transition-colors;
}